.icone{
    display: block;
    width: 20.9px;
    height: 20.23px;
    background-image: url(../../imagens/search-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 12px;
}