//Fonte
$fonte: 'Kumbh Sans', sans-serif;

//Cor
$cor-fundo: #17162e;
$cor-fundo-filme: #1D1C3B;
$cor-texto-1: #FFFFFF;
$cor-texto-descricao: #ACACAC;
$cor-texto-placeholder: #8A8A8A;
$cor-background-input: #3b3b4b;
$cor-background-input-hover: #454558;
$cor-borda: #706EA8;

//sombra
$sombra-filme: 32.8px 24.5px 79px 0px #00000026;
$sombra-filme-img: 20px 20px 30px 0px #0000004D;